.descricao__paragrafo {
    color: #595959;
    font-weight: 100;
}

@media screen and (min-width: 0) {
    .descricao__paragrafo {
        font-size: 1.3rem;

    }
}

@media screen and (min-width: 768px) {
    .descricao__paragrafo {
        font-size: 1.75rem;

    }
}