.rodape__titulo {
    color: #fdfdfd;
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
}

@media screen and (min-width: 0) {
    .rodape__titulo {
        font-size: 2rem;

    }
}

@media screen and (min-width: 768px) {
    .rodape__titulo {
        font-size: 3.1875rem;

    }
}