.produto__img{
    border-radius: 1rem 1rem 0 0;
    height: 17.5rem;
    width: 19.3rem;
}

@media screen and (min-width: 0) {
    .produto__img{
        margin-right: 1rem;
        margin-left: 0;
        width: 100%;

    }
}

@media screen and (min-width: 768px) {

    .produto__img{
        height: 17.5rem;
        width: 19.3rem;
    }
}

@media screen and (min-width: 992px) {
    .produto__img{
        height: 17.5rem;
        width: 19.3rem;
    }
    
}