.produto__btn{
    background-color: #FFCE13;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    
}

.produto__btn:hover{
    background: #ff8d4b;
    cursor: pointer;
    transform: scale(1.1);
}